.packages{
    .box{
        flex: 1 1 30rem;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0 1rem 2rem rgba($color: black, $alpha: 0.1);

        img{
          height: 25rem;
          width: 100%;
          object-fit: cover;
        } 

        .content{
            padding: 2rem;

            h3{
                font-size: 2rem;
                color: #333;

                i{
                    color: $orange;
                }
            }

            p{
                font-size: 1.7rem;
                color: #666;
                padding: 1rem 0;
            }

            .stars{
                i{
                    font-size: 1.7rem;
                    color: $orange;
                }
            }

            .price{
                font-size: 2rem;
                color: #333;
                padding-top: 1rem;

                span{
                    color: #666;
                    font-size: 1.5rem;
                    text-decoration: line-through;
                }
            }
        }
    }
}